$lightest-grey : #e5e5e5;
$lighter-grey  : #cbcbcb;
$light-grey    : #6b6b6b;
$grey          : #47484b;
$dark-grey     : #3b3c3f;
$darker-grey   : #191a1e;
$darkest-grey  : #0d0d0f;
$blackish-grey : #010101;

$lemon         : #f2ff3c;

$text-color    : $darker-grey;