@charset "UTF-8";

/**
 * Remove iOS custom form styles
 */

textarea, select,
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
	-webkit-appearance: none;
	border-radius: 0;
}

/**
 * iOS scrolling elements
 * @see https://stackoverflow.com/a/50452058/9503418
 */

body {
	-webkit-overflow-scrolling: touch;
}